*{
    margin: 0;
    padding: 0;
    font-family: pequena, sans-serif;
    letter-spacing: .1rem;
}

@font-face{
    font-family: pequena;
    src: url("../font/pequena\ sereia.ttf")
}

html, body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

/* ESTILOS DE PÁGINA INDEX.HTML */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7797d;
    width: 100%;
}

nav a img{
    max-width: 100%;
    width: 8rem;
    padding: .1rem;
    margin-left: 1rem;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    padding: 2rem;
}

nav ul li a{
    text-decoration: none;
    COLOR: #ffffff;
    transition: all 0.4s ease-out;
    font-size: 2rem;
}

nav ul li a:hover{
    color: #9bf6ff;
}

header#banner{
    background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10rem;
}

header#banner img{
    border-radius:40px;
    width: 70%;
    margin-top: 0.1rem;
}

header#banner div{
    width: 100%;
}

header#banner div h1{
    font-size: 4.5rem;
    color: #b5179e;
    text-shadow: 2px 2px 5px #00000050;
}

header#banner div h2{
    font-size: 2rem;
    color: #0077b6;
    text-shadow: 2px 2px 5px #00000050;
    margin-top: 20px;
}


/* PLAYLIST */

section#playlist{
    max-width: 100%;
    padding: 2rem;
    overflow-x: auto;
}

section#playlist h3{
    text-align: center;
    color:#b5179e;
    font-size: 3rem;
    text-shadow: 1px 1px 2px #0077b6;
    letter-spacing: 0.3rem;
    margin-bottom: 3rem;
}

section#playlist table{
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0;
}

section#playlist table th, td{
    padding: 1rem;
    border-bottom: 1px solid #0077b6;
    text-align: left;
}

section#playlist table a{
    padding: 1rem;
    color: #0077b6;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

section#playlist table a:hover{
    color: #b5179e;
}

footer p{
    min-height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer hr{
    width: 60%;
    margin: auto;
    border: 0.2px solid #0077b6;
}

footer a{
    text-decoration: none;
    color: #0077b6;
}

a:hover{
    color: #b5179e;
}

/* FIM DOS ESTILOS DE PÁGINA INDEX.HTML */

/* ESTILOS DA PÁGINA NEW */

section#new {
    background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

section#new img#home{
    position: absolute;
    top: 0;
    left: 0;
    width: 8rem;
    margin: 0;
    padding: 1rem;
}

section#new img#gif{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10rem;
    margin: 0;
    padding: 1rem;
}

section#new div#card{
    position: relative;
    background-color: #C6FFDD;
    padding: 30px;
    border-radius:  2%;
    border: 1px solid #f7797d;
    box-shadow: #0077b6;
    width: 400px;
}

section#new div.label-flutuante{
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
}

section#new div.label-flutuante input{
    width: 100%;
    padding: 20px 15px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #0077b6;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all 0.3s ease-out;
    border-radius: 0; 
}

section#new div.label-flutuante input:focus{
    border-bottom: 2px solid #ff5e64;
}

section#new div.label-flutuante label{
    color: #ff5e64;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all 0.3s ease-out;
}

section#new div.label-flutuante input:focus + label, section#new-music div.label-flutuante input:valid + label{
    font-size: 18px;
    margin-top: 0;
    color: #ff5e64;
   
}

section#new div.justify-center {
    display: flex;
    justify-content: center;
}

section#new button {
    background-color: transparent;
    border-color: #ff5e64;
    color: #b5179e;
    padding: 0.8rem;
    font-size: 12pt;
    margin-top: 2rem;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all 0.4s ease-out;
}

section#new button:hover{
    background-color: #0077b6;
    border-color: #00507a;
    color: #9bf6ff
}

section#new h4{
    text-align: center;
    color: #f7797d;
    font-size: 3rem;
    text-shadow: 1px 1px 2px #0077b6;
    margin-bottom: 2rem;
}

/* ESTILOS DO MODAL */

section.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #FBD786;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
}

section.modal div#card{
    width:30rem;
    position: relative;
    background-color: #ffffff;
    border-radius: .5rem;
    padding: 4rem;
}

section.modal div#card h2{
    padding: 2rem;
    margin: 0;
    color: #f7797d;
}

section.modal div#card a#fechar{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2rem;
    color: #a00005;
    padding: 1.5rem;
}

section.modal div#card a#fechar:hover{
    color: #f7797d;
}

section.modal div#card hr{
    width: 90%;
    margin: 0 auto;
}

section.modal div#card p{
    padding: 2rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
}

section.modal div#card div#btns{
    display: flex;
    justify-content: center;
    padding: 0 2rem 2rem 2rem;
}

section.modal div#card div#btns a{
    text-decoration: none;
    padding: .9rem;
    border-radius: .5rem;
    width: 7rem;
    text-align: center;
}

section.modal div#card div#btns a.btn-cancelar{
    background: #f7797d;
    color: #ffffff;
    border: solid 1px #b5179e;
    margin-right: 1.5rem;
    transition: all .5s ease-in-out;
}

section.modal div#card div#btns a.btn-cancelar:hover{
    background: #ffffff;
    color: #f7797d;
}

section.modal div#card div#btns a.btn-apagar{
    background: #9bf6ff;
    color: #0077b6;
    border: solid 1px #00507a;
    transition: all .5s ease-in-out;
}

section.modal div#card div#btns a.btn-apagar:hover{
    background: #0077b6;
    color: #9bf6ff;
    border: solid 1px #00507a;
}